[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
[submodule "src/themes/tailwind"]
	path = src/themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
